<div class="flight__item">
	<div class="flight__bay">
		<div class="flight__company">
			<img src="assets/img/turkish.png" alt="logo company">
		</div>
		<a class="flight__button" href="#">Купить<br>за {{ticket.price}} Р</a>
	</div>
	<div class="flight__info">
		<div class="flight__depart">
			<div class="flight__time">{{ticket.departure_time}}</div>
			<div class="flight__city">{{ticket.origin}}, {{ticket.origin_name}}</div>
			<div class="flight__day">{{ticket.departure_date | date:fullDate}}</div>
		</div>
		<div class="flight__line">
			<p>{{ticket.stops}} {{ticket.stops == 0 ? 'пересадок' : ticket.stops == 1 ? 'пересадка' : 'пересадки'}}</p>
			<img src="assets/img/line.png" alt="flight line">
		</div>
		<div class="flight__arrive">
			<div class="flight__time">{{ticket.arrival_time}}</div>
			<div class="flight__city">{{ticket.destination_name}}, {{ticket.destination}}</div>
			<div class="flight__day">{{ticket.arrival_date | date:fullDate}}</div>
		</div>
	</div>
</div>