.flight__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 15px;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3)
}

.flight__bay {
	width: 30%;
	padding: 25px;
	border-right: 1px solid #eee
}
.flight__company {
	text-align: center
}
.flight__company img {
	margin-bottom: 10px
}
.flight__button {
	color: #fff;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	text-decoration: none;
	display: block;
	padding: 7px 10px;
	background-color: orange;
	border-radius: 4px;
	-webkit-transition: background-color .2s linear;
	transition: background-color .2s linear
}
.flight__button:hover {
	background-color: red
}
.flight__info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 70%;
	padding: 30px 25px
}
.flight__time {
	font-size: 32px;
	font-weight: 500;
	margin-bottom: 10px
}
.flight__city {
	font-size: 12px;
	font-weight: 700;
}
.flight__day {font-size: 12px;}
.flight__line {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	text-align: center;
}

@media only screen and (max-width: 560px) {
	.flight__item {flex-wrap: wrap;}
	.flight__bay {order: 1; margin: 0 auto; border-right: none; width: 70%;}
	.flight__info {width: 100%; padding: 30px 15px 10px;}
}