
.filter__title {
	font-size: 16px;
	margin-bottom: 10px
}
.filter__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 5px;
	position: relative;
}
.filter__item:hover span {
	opacity: 1;
}
.filter__item label {
	cursor: pointer;
}
.filter__item input {
	margin: 0 5px 0 0;
	position: relative;
	top: 2px
}
.filter__item span {
	color: #00f;
	opacity: 0;
	font-size: 12px;
	text-transform: uppercase;
	-webkit-transition: opacity .2s linear;
	transition: opacity .2s linear;
	cursor: pointer;
	position: absolute;
    right: 0; top: 2px;
}
