<div class="filter">
	<div class="filter__title">Количество пересадок</div>
	<div class="filter__block">
		<div class="filter__item">
			<label>
				<input type="checkbox" checked="true">
				Все
			</label>
		</div>
		<div class="filter__item">
			<label>
				<input type="checkbox">
				Без пересадок
			</label>
			<span>только</span>
		</div>
		<div class="filter__item">
			<label>
				<input type="checkbox">
				1 пересадка
			</label>
			<span>только</span>
		</div>
		<div class="filter__item">
			<label>
				<input type="checkbox">
				2 пересадки
			</label>
			<span>только</span>
		</div>
		<div class="filter__item">
			<label>
				<input type="checkbox">
				3 пересадки
			</label>
			<span>только</span>
		</div>
	</div>
</div>